body {
  font-family: "Poppins", sans-serif;
  background: #f5f5f7;
  color: #8bc2fa;
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.container {
  background: #fff;
  width: 100%;
  max-width: 950px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  padding: 40px 60px;
}

header {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 40px;
}

#profileImage {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #1d3557;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.gap h1 {
  font-size: 1.9em;
  color: #1d3557;
  margin: 0;
}

.gap h2 {
  font-size: 1.1em;
  color: #6c757d;
  font-weight: 500;
  margin-top: 5px;
}

.bio {
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 12px;
  margin-bottom: 25px;
  background: linear-gradient(to right, #95c9fd, #cce6ff);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

 section {
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

section h3 {
  font-size: 1.3em;
  color: #1d3557;
  border-bottom: 2px solid #e3e3e3;
  padding-bottom: 8px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

section p {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background: #7fb9f3;
  color: #0f0f0f;
  padding: 10px 14px;
  margin-bottom: 8px;
  border-radius: 8px;
  font-size: 0.95em;
  border-left: 4px solid #0077b6;
  transition: all 0.2s ease-in-out;
}

li:hover {
  background: #eaf3fc;
  transform: translateX(3px);
}


#publications1,
#publications2,
#publications3 {
  background: #95c9fd;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
}

#publications1 h4,
#publications2 h4,
#publications3 h4 {
  color: #0077b6;
  font-size: 1.1em;
  margin-bottom: 4px;
}

#publications1 p,
#publications2 p,
#publications3 p {
  margin-bottom: 6px;
  color: #363636;
  font-size: 0.95em;
}

@media (max-width: 700px) {
  body {
    padding: 20px;
  }

  .container {
    padding: 25px;
  }

  header {
    flex-direction: column;
    text-align: center;
  }

  #profileImage {
    width: 100px;
    height: 100px;
  }
}